[client]
port = 3306
loose-local-infile=1
#socket = /data/mysql_test/run/mysql.sock          # Use mysqld.sock on Ubuntu, conflicts with AppArmor otherwise

[mysqld]
port = 3306
#socket = /data/mysql_test/run/mysql.sock          # Use mysqld.sock on Ubuntu, conflicts with AppArmor otherwise
secure-file-priv = ""
datadir=/home/enhancer/test/mysql/mysql_data
log_error = /var/lib/mysql/mysql.log
user=mysql


